p {
  font-size: 0.9em;
  line-height: 1.6em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  padding: 0.8em 1.2em;
}

.hide-mobile {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 25px;
  margin-top: 45%;
}

.app-profilepic {
  width: 250px;
  margin: 2em;
}

h1,
.main {
  font-size: 1.6em;
  font-weight: bold;
}

h2,
.presentation {
  font-size: 1em;
  font-weight: 600;
}

hr {
  width: 4em;
}

p,
.abstract {
  font-size: 0.8em;
  font-weight: normal;
  font-style: oblique;
}

.mam {
  font-weight: 600;
  width: calc(100% - 5em);
  display: block;
  border: 1.5px solid black;
  border-radius: 20px;
  padding: 0.3em;
  text-decoration: none;
  font-size: 1.3em;
  margin: 10% auto 7%;
  position: relative;
}

.about-container {
  width: 100%;
  background: #1d1d1b18;
  margin-top: 15%;
  padding: 4em 0 2em;
}

.about-container ul li {
  margin-bottom: 2em;
}

.about-container img {
  width: 60%;
}

.footer-container {
  width: 100%;
  background: #1d1d1d;
  color: #ffffff;
  padding: 1.5em 0;
  margin-top: 1em;
}

nav ul {
  background: rgba(29, 29, 29, 0.9);
  position: fixed;
  width: 60%;
  top: 0;
  left: 0;
  text-align: left;
  height: 100%;
  z-index: 7;
  padding-top: 2em;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1em 1em;
  margin-right: 5em;
}

nav ul li a:hover {
  background-color: #6d6c6c83;
  margin-right: -1em;
}

.exit-btn {
  margin-bottom: 1em;
  margin-top: -0.5em;
  text-align: left;
  padding: 0 1.4em;
}

.exit-btn img {
  width: 22px;
  cursor: pointer;
}
